/*==========FONTS==========*/
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.eot");
  src: local("NunitoSans-Regular"), url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../fonts/NunitoSans-Bold.eot");
  src: local("NunitoSans-Bold"), url("../fonts/NunitoSans-Bold.ttf");
}

/*=========END FONTS==========*/

/*"NunitoSans-Bold", sans-serif;*/

/*"NunitoSans-Regular", sans-serif;*/