/*CSS Document*/
a:hover {
	opacity: 0.5;
}

img {
	width: 100%;
}

.hidden {
	display: none;
}

/*====== SLIDER ======*/
.slick-prev:before {
	position: relative;
	left: -5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '';
	background: url(../img/icons/strelka-vlevo.svg) no-repeat;
}

.slick-next:before {
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '';
	background: url(../img/icons/strelka-vpravo.svg) no-repeat;
}

.slick-dots li button:before {
	font-size: 35px;
}

.slick-dots li.slick-active button:before {
	color: #1c4177;
}
/*==== END SLIDER ====*/

.landing-page-wrapper {
	width: 100%;
	max-width: 1920px;
	/*min-width: 1920px;*/
	margin: 0 auto;
}

.landing-page-wrapper header {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 75px;
	padding-right: 60px;
	padding-left: 60px;
	background-color: #376092;
	box-shadow: 0 3px 5px rgba(0,0,0,.1);
	align-items: center;
	justify-content: space-between;

	 position: sticky;
  top: 0;
  z-index: 2;
}

.landing-page-wrapper header a.logo {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 28px;
	color: #fff;
}

.landing-page-wrapper header nav.lp-header-nav {
	font-family: 'NunitoSans-Regular', sans-serif;
	display: flex;
	width: 100%;
	min-width: 750px;
	max-width: 1100px;
	color: #fff;
	justify-content: space-between;
}

.landing-page-wrapper header nav.lp-header-nav a {
	box-sizing: border-box;
	color: #fff;
	border-bottom: solid 1px transparent;
}

.landing-page-wrapper header nav.lp-header-nav a:hover {
	border-bottom: solid 1px #fff;
}

.landing-page-wrapper .landing-page-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.landing-page-wrapper .landing-page-content .lp-banner-top {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 75px);
	padding-top: 150px;
	padding-right: 60px;
	padding-left: 60px;
	background: url(../img/Notebook2.jpg) no-repeat;
	background-size: cover;

	position: sticky;
	top: 75px;
	/*z-index: -1;*/
}

.landing-page-content .lp-banner-top .banner-top-text {
	font-family: 'NunitoSans-Regular', sans-serif;
	color: #fff;
}

.landing-page-content .lp-banner-top .banner-top-text h1 {
	font-size: 46px;
	width: 100%;
	max-width: 800px;
	margin-top: 80px;
	margin-bottom: 35px;
}

.landing-page-content .lp-banner-top .banner-top-text h2 {
	font-size: 36px;
	width: 100%;
	max-width: 800px;
}

.landing-page-content .lp-banner-top .banner-top-btn {
	display: flex;
	width: 100%;
	max-width: 570px;
	margin-top: 10px;
	justify-content: space-between;
}

.landing-page-content .lp-banner-top .banner-top-btn a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
	padding: 10px 25px;
	color: #fff;
	border-radius: 5px;
	background: #376092;
}

.landing-page-content .alpha-generation-block,
.landing-page-content .predictive-risk-management-block,
.landing-page-content .credit-monitor-block,
.landing-page-content .solutions-block,
.landing-page-content .macro-regimes-monitor-block,
.landing-page-content .insights-videos-block,
.landing-page-content .blog-block,
.landing-page-content .about-us-block,
.landing-page-content .team-expertise-block {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	/*height: 100vh;*/
	height: calc(100vh - 75px);
	padding-right: 60px;
	padding-left: 60px;
	align-items: center;
	background: #ffffff;
	position: relative;
	z-index: 1;
}

/*.landing-page-content .alpha-generation-block {
	position: sticky;
	top: 0;
}*/


.landing-page-content .predictive-risk-management-block {
	background-color: #e6e6e6;
	box-shadow: 0 20px 20px rgba(0,0,0,.1);
}

.title-block {
	box-sizing: border-box;
	padding-top: 50px;
}

.title-block h3 {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 34px;
	text-align: center;
	color: #376092;
}

.title-block p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 22px;
	text-align: center;
	color: #376092;
}

.landing-page-content .alpha-generation-content,
.landing-page-content .predictive-risk-management-content,
.landing-page-content .credit-monitor-content,
.landing-page-content .solutions-content,
.landing-page-content .macro-regimes-monitor-content,
.landing-page-content .insights-videos-content,
.landing-page-content .blog-content,
.landing-page-content .about-us-content,
.landing-page-content .team-expertise-content {
	display: flex;
	width: 100%;
	align-items: center;
	flex-grow: 1;
	justify-content: space-between;
}

.landing-page-content .alpha-generation-content .ag-content-slider,
.landing-page-content .predictive-risk-management-content .prm-content-slider,
.landing-page-content .credit-monitor-content .cm-content-slider,
.landing-page-content .macro-regimes-monitor-content .mrm-content-slider {
	width: 45%;
}

.landing-page-content .predictive-risk-management-content .prm-content-slider img {
	width: auto;
	margin: 0 auto;
}

.landing-page-content .predictive-risk-management-content .prm-content-slider .prm-content-slide-prm2 img {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.landing-page-content .alpha-generation-content .ag-content-text,
.landing-page-content .predictive-risk-management-content .prm-content-text,
.landing-page-content .credit-monitor-content .cm-content-text,
.landing-page-content .macro-regimes-monitor-content .mrm-content-text {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 22px; 
	width: 50%;
}

.landing-page-content .alpha-generation-content .ag-content-text p {
	margin-bottom: 10px;
}

.landing-page-content .predictive-risk-management-content .prm-first-paragraph {
	margin-bottom: 20px;
}

.landing-page-content .predictive-risk-management-content .prm-first-paragraph p {
	margin-bottom: 10px;
}

.landing-page-content .predictive-risk-management-content .prm-second-paragraph {
	display: flex;
	flex-direction: column;
}

.landing-page-content .predictive-risk-management-content .prm-second-paragraph span {
	font-family: 'NunitoSans-Bold', sans-serif;
	margin-bottom: 10px;
}

.landing-page-content .credit-monitor-content .cm-content-text span {
	font-family: 'NunitoSans-Bold', sans-serif;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}

.landing-page-content .credit-monitor-content .cm-content-text ul {
	box-sizing: border-box;
	padding-left: 20px;
}

.landing-page-content .credit-monitor-content .cm-content-text li {
	list-style-type: disc;
}

.landing-page-content .credit-monitor-content .cm-content-slider img {
	width: auto;
	margin: 0 auto;
}

.landing-page-content .solutions-content {
	flex-direction: column;
	justify-content: center;
}

.landing-page-content .solutions-content .solutions-card-group,
.landing-page-content .team-expertise-content .team-expertise-card-group {
	display: flex;
	width: 100%;
	max-width: 1100px;
	justify-content: space-between;
}

.landing-page-content .solutions-content .solutions-card,
.landing-page-content .team-expertise-content .team-expertise-card {
	box-sizing: border-box;
	width: 100%;
	max-width: 260px;
	height: 230px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.landing-page-content .solutions-content .solutions-card .solutions-card-title {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 18px;
	color: #376092;
}

.landing-page-content .solutions-content .solutions-card .solutions-card-text {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 14px;
	color: #376092;
}

.landing-page-content .solutions-content .solutions-card .solutions-card-icon {
	display: flex;
	align-items: center;
}

.landing-page-content .solutions-content .solutions-card .solutions-card-icon img {
	width: 80px;
	height: 80px;
}

.landing-page-content .solutions-content .solutions-card .solutions-card-text {
	margin-top: 25px;
	text-align: center;
}

.landing-page-content .solutions-content .how-it-works,
.landing-page-content .team-expertise-content .have-questions {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin-top: 175px;
	padding: 10px 15px;
	border: solid 1px #cbd4dd;
	background-color: #eaf3fa;
	justify-content: center;
	align-items: center;
}

.landing-page-content .solutions-content .how-it-works .how-it-works-text,
.landing-page-content .team-expertise-content .have-questions .have-questions-text {
	font-family: 'NunitoSans-Regular', sans-serif;
	margin-right: 5%;
	color: #1a6899;
}

.landing-page-content .solutions-content .how-it-works .how-it-works-text span,
.landing-page-content .team-expertise-content .have-questions .have-questions-text span {
	font-size: 24px;
}

.landing-page-content .solutions-content .how-it-works .how-it-works-text p {
	font-size: 20px;
}

.landing-page-content .solutions-content .how-it-works a,
.landing-page-content .team-expertise-content .have-questions a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 24px;
	display: block;
	box-sizing: border-box;
	padding: 10px 55px;
	white-space: nowrap;
	color: #1a6899;
	border: solid 1px #d6dadd;
	background-color: #fff;
}

.macro-regimes-monitor-content .mrm-content-text > p {
	margin-bottom: 20px;
}

.macro-regimes-monitor-content .mrm-content-text span {
	font-family: 'NunitoSans-Bold', sans-serif;
}

.macro-regimes-monitor-content .mrm-content-text > span {
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding-left: 10%;
	text-decoration: underline;
}

.macro-regimes-monitor-content .mrm-content-text ul {
	box-sizing: border-box;
	padding-left: 10%;
}

.macro-regimes-monitor-content .mrm-content-text ul li {
	display: flex;
	margin-bottom: 15px;
	align-items: center;
}

.macro-regimes-monitor-content .mrm-content-text ul li > img {
	width: 42px;
	height: 26px;
	margin-right: 5px;
}

.macro-regimes-monitor-content .mrm-content-text ul li > span {
	margin-right: 10px;
}

.landing-page-content .insights-videos-block {
	height: 60vh;
}

.landing-page-content .blog-block {
	height: 40vh;
	background-color: #eaf3fa;
}

.landing-page-content .blog-block .blog-content {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.landing-page-content .blog-block .blog-content .blog-content-center span {
	font-family: 'NunitoSans-Bold', sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #1758b4;
}

.landing-page-content .blog-block .blog-content .blog-content-center p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 34px;
	text-decoration: underline;
	color: #1758b4;
}

.landing-page-content .blog-block .blog-content .blog-content-center a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 18px;
	display: flex;
	text-decoration: underline;
	color: #1758b4;
	align-items: center;
}

.landing-page-content .blog-block .blog-content .blog-content-center a i {
	width: 30px;
	height: 12px;
	margin-left: 5px;
	background: url(../img/icons/arrow-right-mobile.svg) no-repeat 0 3px;
}

.landing-page-content .blog-block .blog-content .blog-content-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing-page-content .blog-block .blog-content .blog-content-right p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 14px;
	color: #1758b4;
}

.landing-page-content .blog-block .blog-content .blog-content-right form {
	display: flex;
	align-items: center;
}

.landing-page-content .blog-block .blog-content .blog-content-right input {
	box-sizing: border-box;
	padding: 12px 15px;
	color: #a0a4a7;
	border: none;
	outline: none;
}

.landing-page-content .blog-block .blog-content .blog-content-right button {
	display: flex;
	width: 50px;
	height: 39px;
	cursor: pointer;
	border: none;
	background-color: #0470bb;
	justify-content: center;
	align-items: center;
}

.landing-page-content .blog-block .blog-content .blog-content-right button:before {
	display: block;
	width: 20px;
	height: 20px;
	content: '';
	background: url(../img/icons/paper-plane.svg) no-repeat;
}

.landing-page-content .blog-block .blog-content .blog-content-right button:hover {
	opacity: .5;
}

.landing-page-content .about-us-block,
.landing-page-content .team-expertise-block {
	height: 50vh;
}

.landing-page-content .about-us-block .about-us-content {
	flex-direction: column;
}

.landing-page-content .about-us-block .about-us-content > p {
	width: 100%;
	text-align: center;
}

.landing-page-content .about-us-block .about-us-content .about-us-description {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.landing-page-content .about-us-block .about-us-content .about-us-person {
	width: 138px;
}

.landing-page-content .about-us-block .about-us-content .about-us-person span {
	font-family: 'NunitoSans-Bold', sans-serif;
	font-size: 20px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.landing-page-content .about-us-block .about-us-content .about-us-person p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	text-align: center;
}

.landing-page-content .about-us-block .about-us-content .about-us-list ul {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin-left: 30px;
}

.landing-page-content .about-us-block .about-us-content .about-us-list li {
	list-style-type: disc;
}

.landing-page-content .about-us-block .about-us-content .about-us-list a {
	color: #1758b4;
}

.landing-page-content .team-expertise-content {
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	padding-top: 20px;
	justify-content: space-between;
}

.landing-page-content .team-expertise-content .team-expertise-card-group {
	justify-content: center;
}

.landing-page-content .team-expertise-content .team-expertise-card {
	box-sizing: border-box;
	margin-right: 20px;
	margin-left: 20px;
	padding: 15px;
}

.landing-page-content .team-expertise-content .team-expertise-card span {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	display: inline-block;
	margin-bottom: 10px;
	color: #376092;
}

.landing-page-content .team-expertise-content .team-expertise-card ul {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 14px;
}

.landing-page-content .team-expertise-content .team-expertise-card li {
	margin-left: 15px;
	list-style-type: disc;
}

.landing-page-content .team-expertise-content .have-questions {
	margin-top: 0;
}

.landing-page-content .team-expertise-content .have-questions .have-questions-text {
	margin-right: 20%;
}

.landing-page-wrapper footer {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding-right: 60px;
	padding-left: 60px;
	background-color: #a6a6a6;
	justify-content: space-between;
	align-items: center;
}

.landing-page-wrapper footer .copyright {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
}

.landing-page-wrapper footer .copyright a {
	color: #376092;
}

.landing-page-wrapper footer .telephone-email {
	display: flex;
	flex-direction: column;
}

.landing-page-wrapper footer .telephone-email a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	display: flex;
	color: #376092;
	align-items: center;
}

.landing-page-wrapper footer .telephone-email a i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.landing-page-wrapper footer .telephone-email .footer-phone i {
	background: url(../img/icons/phonereceiver.svg) no-repeat;
	background-size: contain;
}

.landing-page-wrapper footer .telephone-email .footer-email i {
	background: url(../img/icons/email-icon.svg) no-repeat;
	background-size: contain;
}

.landing-page-wrapper footer .social-networks {
	display: flex;
}

.landing-page-wrapper footer .social-networks a {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 5px;
	background-size: contain;
}

.landing-page-wrapper footer .social-networks-linkedin {
	background: url(../img/icons/Linkedin.svg) no-repeat;
}

.landing-page-wrapper footer .social-networks-facebook {
	background: url(../img/icons/Facebook_icon.svg) no-repeat;
}

.landing-page-wrapper footer .social-networks-twitter {
	background: url(../img/icons/Twitter_bird_logo.svg) no-repeat 0 2px;
	background-color: #41abe1;
}

/*============FORM form-sign-up-now===============*/
.form-sign-up-now-section {
	width: 100%;
	height: 100vh;
	background-color: rgba(74, 72, 69, 0.5);
	position: fixed;
	top: 0px;
	z-index: 100;
}

.form-sign-up-now-wrapper {
	max-width: 475px;
	border: solid 1px #e7e5e6;
	box-shadow: 0 0 50px rgba(0,0,0,.1);
	background-color: #ffffff;

	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.form-sign-up-now-btn-close {
	width: 30px;
	height: 30px;
	background: url(../img/icons/windowclose_104378.svg) no-repeat 50%, 50%;
	border: none;
	cursor: pointer;
	padding: 0;
	background-size: cover;
	margin-left: 100%;
}

.form-sign-up-now-btn-close:hover {
	opacity: 0.5;
}

.form-sign-up-now {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-sign-up-now .form-title {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.form-sign-up-now .form-title a {
	font-family: 'NunitoSans-Italic', sans-serif;
	margin-left: 5px;
	text-decoration: underline;
	color: #376092;
}

.form-sign-up-now input{
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	width: 205px;
	margin-bottom: 5px;
	padding: 6px 5px;
	color: #376092;
	border: solid 1px #d9d9d9;
}

.form-sign-up-now input::placeholder {
	color: #376092;
}

.form-sign-up-now .form-captcha {
	width: 205px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-sign-up-now .form-captcha p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	text-align: center;
}

.form-sign-up-now .form-captcha a {
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	color: #1758b4;
}

.form-sign-up-now button {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	margin-bottom: 40px;
	padding: 7px 30px;
	cursor: pointer;
	text-align: center;
	color: #376092;
	border: solid 1px #d9d9d9;
	background: none;
}

.form-sign-up-now button:hover {
	opacity: .5;
}

.form-sign-up-now-wrapper {
	padding: 25px 85px;
}

.form-sign-up-now-wrapper .telephone-email {
	display: flex;
	justify-content: space-between;
}

.form-sign-up-now-wrapper .telephone-email a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	display: flex;
	color: #376092;
	align-items: center;
}

.form-sign-up-now-wrapper .telephone-email a i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.form-sign-up-now-wrapper .telephone-email .footer-phone i {
	background: url(../img/icons/phonereceiver.svg) no-repeat;
	background-size: contain;
}

.form-sign-up-now-wrapper .telephone-email .footer-email i {
	background: url(../img/icons/email-icon.svg) no-repeat;
	background-size: contain;
}
/*============END FORM form-sign-up-now=============*/

/*============FORM form-sign-in-to-tenviz-wrapper===============*/
.form-sign-in-to-tenviz-section {
	width: 100%;
	height: 100vh;
	background-color: rgba(74, 72, 69, 0.5);
	position: fixed;
	top: 0px;
	z-index: 100;
}

.form-sign-in-to-tenviz-wrapper {
	max-width: 475px;
	border: solid 1px #e7e5e6;
	box-shadow: 0 0 50px rgba(0,0,0,.1);
	background-color: #ffffff;

	padding: 25px 85px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.form-sign-in-to-tenviz-btn-close {
	width: 30px;
	height: 30px;
	background: url(../img/icons/windowclose_104378.svg) no-repeat 50%, 50%;
	border: none;
	cursor: pointer;
	padding: 0;
	background-size: cover;
	margin-left: 100%;
}

.form-sign-in-to-tenviz-btn-close:hover {
	opacity: 0.5;
}

.form-sign-in-to-tenviz {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-sign-in-to-tenviz .form-title {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.form-sign-in-to-tenviz .form-title a {
	font-family: 'NunitoSans-Italic', sans-serif;
	margin-left: 5px;
	text-decoration: underline;
	color: #376092;
}

.form-sign-in-to-tenviz input {
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	width: 205px;
	margin-bottom: 5px;
	padding: 6px 5px;
	color: #376092;
	border: solid 1px #d9d9d9;
}

.form-sign-in-to-tenviz input::placeholder {
	color: #376092;
}

.form-sign-in-to-tenviz button {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	margin-bottom: 40px;
	padding: 7px 30px;
	cursor: pointer;
	text-align: center;
	color: #376092;
	border: solid 1px #d9d9d9;
	background: none;
}

.form-sign-in-to-tenviz button:hover {
	opacity: .5;
}

.form-sign-in-to-tenviz-wrapper {
	padding: 25px 85px;
}

.form-sign-in-to-tenviz-wrapper .telephone-email {
	display: flex;
	justify-content: space-between;
}

.form-sign-in-to-tenviz-wrapper .telephone-email a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	display: flex;
	color: #376092;
	align-items: center;
}

.form-sign-in-to-tenviz-wrapper .telephone-email a i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.form-sign-in-to-tenviz-wrapper .telephone-email .footer-phone i {
	background: url(../img/icons/phonereceiver.svg) no-repeat;
	background-size: contain;
}

.form-sign-in-to-tenviz-wrapper .telephone-email .footer-email i {
	background: url(../img/icons/email-icon.svg) no-repeat;
	background-size: contain;
}
/*============END FORM form-sign-up-now=============*/

/*============FORM contact-us-wrapper===============*/
.form-contact-us-wrapper {
	max-width: 475px;
	border: solid 1px #e7e5e6;
	background-color: #eaf3fa;
	box-shadow: 0 0 50px rgba(0,0,0,.1);
}

.form-contact-us {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-contact-us .form-title {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.form-contact-us .form-title span {
	font-family: 'NunitoSans-Italic', sans-serif;
}

.form-contact-us input {
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	width: 205px;
	margin-bottom: 5px;
	padding: 6px 5px;
	color: #376092;
	border: solid 1px #d9d9d9;
}

.form-contact-us input::placeholder {
	color: #376092;
}

.form-contact-us .form-captcha {
	width: 205px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-contact-us .form-captcha p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	text-align: center;
}

.form-contact-us .form-captcha a {
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	color: #1758b4;
}

.form-contact-us button {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	margin-top: 15px;
	margin-bottom: 40px;
	padding: 7px 30px;
	cursor: pointer;
	text-align: center;
	color: #376092;
	border: solid 1px #d9d9d9;
	background: none;
	background: #fff;
}

.form-contact-us button:hover {
	opacity: .5;
}

.form-contact-us-wrapper {
	padding: 25px 35px;
}

.form-contact-us-wrapper .telephone-email {
	display: flex;
	justify-content: space-between;
}

.form-contact-us-wrapper .telephone-email a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	display: flex;
	color: #376092;
	align-items: center;
}

.form-contact-us-wrapper .telephone-email a i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.form-contact-us-wrapper .telephone-email .footer-phone i {
	background: url(../img/icons/phonereceiver.svg) no-repeat;
	background-size: contain;
}

.form-contact-us-wrapper .telephone-email .footer-email i {
	background: url(../img/icons/email-icon.svg) no-repeat;
	background-size: contain;
}
/*============END FORM contact-us-wrapper===============*/

/*============FORM get-in-touch-with-us-wrapper===============*/
.form-get-in-touch-with-us-wrapper {
	max-width: 475px;
	border: solid 1px #e7e5e6;
	background-color: #eaf3fa;
	box-shadow: 0 0 50px rgba(0,0,0,.1);
}

.form-get-in-touch-with-us {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-get-in-touch-with-us .form-title {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.form-get-in-touch-with-us .form-title span {
	font-family: 'NunitoSans-Italic', sans-serif;
}

.form-get-in-touch-with-us input {
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	width: 205px;
	margin-bottom: 5px;
	padding: 6px 5px;
	color: #376092;
	border: solid 1px #d9d9d9;
}

.form-get-in-touch-with-us input::placeholder {
	color: #376092;
}

.form-get-in-touch-with-us .form-captcha {
	width: 205px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-get-in-touch-with-us .form-captcha p {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	text-align: center;
}

.form-get-in-touch-with-us .form-captcha a {
	font-family: 'NunitoSans-Italic', sans-serif;
	font-size: 12px;
	color: #1758b4;
}

.form-get-in-touch-with-us button {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	margin-top: 15px;
	margin-bottom: 40px;
	padding: 7px 30px;
	cursor: pointer;
	text-align: center;
	color: #376092;
	border: solid 1px #d9d9d9;
	background: none;
	background: #fff;
}

.form-get-in-touch-with-us button:hover {
	opacity: .5;
}

.form-get-in-touch-with-us-wrapper {
	padding: 25px 35px;
}

.form-get-in-touch-with-us-wrapper .telephone-email {
	display: flex;
	justify-content: space-between;
}

.form-get-in-touch-with-us-wrapper .telephone-email a {
	font-family: 'NunitoSans-Regular', sans-serif;
	font-size: 12px;
	display: flex;
	color: #376092;
	align-items: center;
}

.form-get-in-touch-with-us-wrapper .telephone-email a i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.form-get-in-touch-with-us-wrapper .telephone-email .footer-phone i {
	background: url(../img/icons/phonereceiver.svg) no-repeat;
	background-size: contain;
}

.form-get-in-touch-with-us-wrapper .telephone-email .footer-email i {
	background: url(../img/icons/email-icon.svg) no-repeat;
	background-size: contain;
}
/*============END FORM get-in-touch-with-us-wrapper===============*/

/*======RESPONSIVE======*/

@media (max-width: ) {
	
}

/*====END RESPONSIVE====