@media (max-width: 986px) {
  html {
    font-size: 73%; } }

@media (max-width: 561px) {
  html {
    font-size: 50%; } }

@media (max-width: 1529px) {
  .header {
    width: 80%; } }

@media (max-width: 1129px) {
  .header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media (max-width: 549px) {
  .header {
    width: 98%;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }

@media (max-width: 1129px) {
  .header_navigation {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
    margin: 0 auto; } }

@media (max-width: 766px) {
  .header_navigation {
    width: 100%; } }

@media (max-width: 489px) {
  .bitcoin_price h2 {
    font-size: 22px;
    width: 55%;
    text-align: center; } }

@media (max-width: 784px) {
  .course_board_wrapper {
    background: none;
    height: auto; } }

@media (max-width: 1481px) {
  .course_board {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 1481px) {
  .current_rate {
    margin-right: 0; } }

@media (max-width: 784px) {
  .current_rate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (max-width: 784px) {
  .course_day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (max-width: 784px) {
  .course_day p:first-child {
    margin-right: 0;
    margin-bottom: 4px; } }
